body {
//  position: relative;
  font-family: 'Intro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #292929;;
}

b, strong{
  font-weight: 700;
}


@-webkit-keyframes growimage{
  0%{-webkit-transform:translate3d(0, 0, 0) scale(1)}
  100%{-webkit-transform:translate3d(0, 0, 0) scale(1.1)}
}

@keyframes growimage{
  0%{transform:translate3d(0, 0, 0) scale(1)}
  100%{transform:translate3d(0, 0, 0) scale(1.1)}
}

a{
  color: inherit;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.trigger {
  cursor: pointer;
}

.col{
  float: left;
}