@media (max-width: 1200px){

}

@media (max-width: 1024px){
  .single{
    .entry-content{
      .left-image{
        .text{
          width:35%;
          margin: 0 10% 0 5%;
        }
        .image{}
      }
      .right-image{
        .text{
          width:35%;
          margin: 0 5% 0 10%;
        }
        .image{}
      }
    }
  }
}

@media (max-width: 768px){

  .content {
    padding: 80px 60px 60px;
  }

  .topline-nav{
    padding: 20px 60px 0 20px;
  }

  .single{
    .page-wrapper{
      padding: 20px;
    }
    .footer{
      padding: 30px 0;
    }
  }


  .single{
    .page-header{
      .title {
        margin: 40px 0 20px;
        font-size: 50px;
        line-height: 50px;
      }
    }
    .topline{
      .menu-wrap{
        margin-right: 40px;
      }
    }


    .entry-content{
      .row{
        padding: 0 30px;
        margin: 0;
      }
      .left-image{
        .text{
          width:100%;
          margin: 0 0 40px;
        }
        .image{
          width:100%;
          margin-bottom: 40px;
        }
      }
      .right-image{
        .text{
          width:100%;
          margin: 0 0 40px;
        }
        .image{
          width:100%;
          margin-bottom: 40px;
        }
      }
    }


//    .row-1{
//      .col-1{
//        width:100%;
//        margin: 0;
//      }
//      .col-2{
//        width:100%;
//      }
//    }
//    .row-2{
//      .col-1{
//        width:100%;
//      }
//      .col-2{
//        width:100%;
//        margin: 0;
//        .entry-text{
//          width:100%;
//        }
//        .entry-image{
//          img{
//            margin: 0 auto 30px;
//          }
//        }
//      }
//    }
    .prev-project, .next-project{
      span{
        display:none;
      }
    }
    .project-nav-icon{
      width:45px;
      height:45px;
      border-width: 3px;
      margin-top: 0;
      margin-bottom: -35px;
      &.prev-icon, &.next-icon{
        &:after{
          height: 15px;
          width: 15px;
          border-width: 3px;
        }
      }
    }
    .footer{
      .soc-icons {
        margin: 0 70px;
      }
    }
  }

  .box-2{
    .left, .right{
      width: 100%;
    }
    .mob-title{
      display: block;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 30px;
    }
    .right{
      display:none;
    }
//    .content-right{
//      h1 {
//        display: none;
//      }
//    }
  }

  .fp-controlArrow{
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-width: 3px;

    &:after{
      height:20px;
      width:20px;
    }

    &.fp-next{
      left:15%;
      top: 33.33%;
      &:after{
        border-width: 3px;
      }
    }

    &.fp-prev{
      left: 15%;
      top: 66.66%;
      &:after{
        border-width: 3px;
      }
    }
  }

  .box-4{
    .left{
      width:100%;
    }
    .right {
      display:none;
    }


  }

  .box-5{
    .row{
      .col{
        width: 100%;
        pointer-events: none;
        float: none;
      }
    }
  }

  .box-6{
    .row{
      margin: 0;
      .col{
        &.left, &.right{
          padding: 60px 120px;
          width:100%;
          float: none;
        }
        &.right{
          padding-bottom: 120px;
        }
      }
    }
  }

  html.js{
    .box-6{
      .row{
        .col{
          &.left, &.right{
            padding: 60px;
          }
          &.right{
            padding-bottom: 120px;
          }
        }
      }
    }
  }
}

@media(max-width: 720px){
  .box-1{
    .title-wrapper{
      width:100%;
    }
  }

  .box-2{
    .left{
      .col{
        width:50%;
      }
    }
  }

  .box-4{
    .left{
      .col{
        width: 50%;
        &:nth-child(3) {
          margin-right: 0;
        }
        &:nth-child(4) {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 540px){
  .content {
    padding: 100px 60px 20px 20px;
  }

  .box-1{
    .title-wrapper{
      border-width: 4px;
      .title{
        h1{
          font-size: 30px;
          line-height: 40px;
        }
        &:after{
          border-width: 4px;
        }
      }
    }
  }

  .box-3{
    .slide-content{
      h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }
  }

  .fp-controlArrow{
    &.fp-prev {top:75%;}
    &.fp-next {top:25%;}
  }

  #fp-nav{
    top: auto;
    bottom: 5%;
  }

  .box-6{
    form{
      .row{
        .col{
          width:100%;
          float: none;
        }
      }
      input[type="submit"]{
        margin-top: 25px;
        padding: 15px 10px;
      }
    }
    .right{
      .title{
        font-size:32px;
        line-height: 40px;
        text-align: center;
      }
    }
  }
}

@media (max-width:480px){

  .box-2{
    .left{
      .col{
        width: 100%;
        float: none;
      }
    }
    .content-tile{
      p{
        font-size: 18px;
      }
    }
  }

  .box-4{
    .left{
      .col{
        width:100%;
        float: none;
      }
    }
    .content-tile{
      &>p{
        font-size: 18px;
      }
      span{
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width:420px){
  .topline-nav{
    padding: 20px;
  }
  .logo{
    width:40px;
    height:40px;
    svg{
      width:100%;
      height: 100%;
    }
  }
  .menu-button {
    font-size: 14px;
    padding: 5px 0 5px 10px;
  }
  .menu{
    margin-right: 0;
    li{
      font-size:12px;
    }
  }
  .menu-wrap {
    margin: 4px 0;
  }
  .box-1{
    .title-wrapper{
      border:none;
      padding: 0;
      .title{
        &:after {
//          right: 40px;
//          width: 75%;
        }
      }
    }
  }
  .fp-controlArrow{
    &.fp-prev{
      display:none;
    }
    &.fp-next{
      display:none;
    }
  }

  .single{
    .page-header{
      .title {
        font-size: 40px;
        line-height: 40px;
      }
      .menu-wrap{
        .overlay-close{
          margin-right: 5px;
        }
      }
    }
    .topline{
      .menu-wrap {
        margin-right: 0;
      }
    }
  }
}

@media (max-device-width: 420px) and (orientation:landscape){
  .topline-nav {
    padding: 10px;
  }
  .logo{
    width:30px;
    height:30px;
    svg{
      width:100%;
      height: 100%;
    }
  }
  .menu-button {
    font-size: 12px;
    padding: 2px 0 2px 5px;
  }
  .menu{
    margin-right: 0;
    li{
      font-size:10px;
    }
  }

  #fp-nav{
    ul{
      li {
        height: 11px;
        a {
          padding: 4px 0;
        }
      }
    }
  }
  .aside-position{
    line-height: 18px;
  }

//  .menu-wrap {
//    margin: 4px 0;
//  }
}

@media (max-width: 320px){
  .single .footer .soc-icons ul li {
    margin: 0 3px;
  }
}
//Temp

@media (max-width:768px){
  #menu-header_menu_ru{
    display: none;
  }
}