.box-4{
  .mobile{
    .content-tile{
      margin-bottom:30px;
      &.active{
        border-color: #ef7f1a;
      }
    }
    .entry-content{
      padding: 20px;
    }
  }
}

.box-2{
  .mobile{
    //    .col-title{
    //      height: auto;
    //    }
    .description{
      //      height: auto;
      display:none;
      font-size: 15px;
      line-height: 20px;
      margin-top: 20px;
    }
  }
}