.topline-nav{
  position:absolute;
  top:0;
  width:100%;
  padding: 40px 40px 0;
  text-align: right;
}

.menu-wrap{
  margin: 10px 0;
  display:inline-block;
  vertical-align: middle;
}

.menu{
  font-size:0;
  display:inline-block;
  vertical-align: middle;
  margin-right: 15px;
  li{
    display: inline-block;
    margin: 0 7px;
    transition: color .2s;
    a{
      font-size: 16px;
      line-height: 30px;
    }
    &:hover{
      color: #ef7f1a;
    }
  }
}


.menu-trigger{
  display:inline-block;
  vertical-align: middle;

  font-size:18px;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
  transition: .2s;
  &:hover{
    color: #ef7f1a;

  }
  .white &.divider{
    border-left-color: white;
    &:hover{
      border-left-color: white;
    }
  }
  &.divider{
    border-left: 2px solid #292929;
    padding-left: 20px;
  }
}

.current-lang {
  font-weight: 700;
}

@media (max-width: 768px) {

  .topline-nav {
    padding: 20px 20px 0;
  }
}
@media (max-width: 420px){
  .topline-nav {
    padding: 15px;
  }
  .menu-trigger {
    font-size: 14px;
    padding: 5px 0 5px 10px;
  }
  .menu-wrap {
    margin: 4px 0;
  }
  .menu{
    margin-right: 0;
    li{
      font-size:10px;
    }
  }
}

